<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>

    <!-- Material design icon -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Google font poppins and dancing script -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Poppins:wght@300;400;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="menue">
            <div class="logo">
                <span>EVENTOR</span>
            </div>
            <ul>
                <li><span class="material-icons">Login</span> Login</li>
                <li><span class="material-icons">account_box</span> Signup</li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content%}
        {% endblock %}
    </main>
    <footer></footer>
    
</body>
</html>