{% extends 'base.html' %}
{% load static%}


{% block content %}
    <section>
        <div class="container">
            <div class="head-content">
                <div class="detail-images">
                    {% if event.imageUrl != '' %}
                            <img src="{{event.imageUrl}}" alt="event image">
                        {% else %}
                            <img src="{% static 'images/placeholder.png' %}" alt="event image">
                    {% endif %}
                </div>

                <div class="head-info">
                    <p>
                        <span class="material-icons-outlined">
                        Schedule:
                        </span>
                        <p><span>{{event.startDate}}</span> <!-- | <span>13 attendees</span></p> -->
                    </p>

                    <p>
                        <span class="material-icons-outlined">
                            Place:
                            </span>
                            {{event.address}}
                    </p>
                    <button class="btn-success attend-btn">Attend event</button>
                </div>
            </div>

            <div class="event-description">
                <p>
                     {{event.eventDescription}}
                </p>
            </div>

            <div class="event-map">

            </div>
        </div>
    </section>
{% endblock %}